.header{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.wrapper{
    display: flex;
 overflow: hidden;
  

}

.cardStyle{
    margin: 25px;
}

.sectionContainer{
    margin: 30px;


}

.toggleText{
    color: #34C94B;
    cursor: pointer;
}

.songsTab{
color: #FFFFFF;
}