.navbar {
    background-color: #34C94B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    height: 8vh;
    padding: 0.5rem;
}

.logo-img relative{
    
    max-width: 50%;
    max-height: 50%;
    overflow:hidden

}

.searchFeild{
    padding: 0%;

}