.card{
width :159px;
Height:232px;
box-sizing: border-box;

 
}

.image{
   overflow: hidden;
        height: 170px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

.chipDiv{
    color: #FFFFFF;
    background-color: #FFFFFF;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }

.chipStyle{
    background-color: black;
    color:#FFFFFF;
    height: 17px;
    padding: 10px;
    padding-left: 0px;
    width: 95px;
    font-weight: 400;  
    font-size: 10px;
    font-family: 'Poppins';
    margin-top: 7px;
    margin-left: 5px;
    text-align: left;
   
}

.albumTitle{
    color: #FFFFFF;
    font-weight: 400;
font-size: 14px;
text-align: left;

}